@using HistoryServer.Models;
@model KeyValuePair<Question,Student>

@{
    ViewData["Title"] = "Quiz";
}

<div>
<script>
    var time = 10
    var tmr;
    function Tick(num) {
        let timer = document.getElementsByClassName("timer")[0];
        --time;
        timer.textContent = time;
        if (time == 0) {
            clearTimeout(tmr);
            if (num < 9) {
                window.location.replace("/Quiz/@(Model.Value.Id)/" + (num + 1) + "/0");
            }
            else if (num == 9) {
                window.location.replace("/Quiz/Result?id=@(Model.Value.Id)");
            }
        }
    }
    function Clicked(event, score, num) {
        let t = event.target;
        t.setAttribute("class", (score == 0) ? "anws-wrong" : "anws-correct");// alert(document.getElementsByClassName("anws-correct"))
        if (event.target.tagName == "INPUT") {
            for (let b of document.getElementsByTagName("INPUT")) {
                b.removeEventListener("onclick", Clicked);
            }
        }
        tmr = setTimeout(() => {
            if (num < 9) {
                window.location.replace("/Quiz/@(Model.Value.Id)/" + (num + 1) + "/" + score);
            }
            else if (num == 9) {
                window.location.replace("/Quiz/Result?id=@(Model.Value.Id)&pscore=" + score);
            }
        }, 2000)
    }
    function Setfunc() {
        Tick(@(Model.Key.num));
        setInterval(Tick, 1000, @(Model.Key.num));
    }
    window.onload = Setfunc;
</script>
    <div>
        <p class="timer">10</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
        </svg>
    </div>
    <h4>@Model.Key.question</h4>
    <ul onload="Setfunc()">
        @foreach (string s in Model.Key.anwsers)
        {
                <li>
                    <input type="button" value="@s" onclick="Clicked(event,@((s == Model.Key.correct) ? Model.Key.value : 0),@(Model.Key.num))"/>
                </li>
            }
    </ul>
    <strong>цена вопроса:@(Model.Key.value)</strong>
    <p>@(Model.Key.num+1)/10</p>
</div>
<div>
</div>
