@model Student
@{
    ViewData["Title"] = "Результат";
}
<h1>@ViewData["Title"]</h1>
<h2>Твоя оценка: @(Math.Round(Model.Result/(float)Questions.Score*10.0f/2.0f, MidpointRounding.ToPositiveInfinity))</h2>
<h3>Твой кромер: @(Model.Result)/@(Questions.Score)<img src="~/kromer.svg" alt="картинка кромера" height="70" width="70"/></h3>
<p>@((int)((float)Model.Result/(float)Questions.Score*100))%</p>
@if (Context.Request.Cookies.ContainsKey("kromer"))
            {
    <p>Ваш максимальный процент кромер:@Context.Request.Cookies["kromer"]</p>
            }
<div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 " />
        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 16z0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
    </svg>
    <form action ="@(Url.Action("SendById", "Home", new { id = Model.Id }))" method="post">
    <input class="btn-primary" type="submit" value="Отправить">
    </form>
</div>
                                